<!-- START PAGE COVER -->
<div class="container-fluid container-fixed-lg ">
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
        	<a class="active" href="#">Agregar Profesional De La Salud</a>
        </li>
    </ul>
    <!-- END BREADCRUMB -->
    <h3 class="page-title"> Editar Profesional De La Salud</h3>
</div>

<div class='row'>
<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<form class="" role="form" name="peopleForm"  novalidate>

			 <!-- firstName -->
		    <div pg-form-group class="form-group form-group-default">
		 
		        <label>Primer Nombre:</label>   
		        <input name="first_name" ng-model="editPeople.first_name" class="form-control"  ng-value='{{editPeople.first_name}}' ng-pattern="people.first_name" placeholder="Primer nombre del nuevo paciente" required/>

		    </div>

		     <!-- Validating patient firstName -->
                <div ng-show="peopleForm.first_name.$touched">

                    <!-- required -->
                    <p ng-show="peopleForm.first_name.$error.required" class="text-danger">
                        Debe asignar un nombre para el nuevo usuario.
                    </p>  

                </div>   

		    <!-- secondName -->
		    <div pg-form-group class="form-group form-group-default">
		 
		        <label>Segundo Nombre:</label>   
		        <input name="middle_name" ng-model="editPeople.middle_name" class="form-control"  placeholder="Segundo nombre del paciente" required/>

		    </div>


		    <!-- Validating patient firstName -->
                <div ng-show="peopleForm.middle_name.$touched">

                    <!-- required -->
                    <p ng-show="peopleForm.middle_name.$error.required" class="text-danger">
                        Debe asignar un segundo nombre para el nuevo usuario.
                    </p>  

                </div>   

		    <!-- firstLastName -->
		    <div pg-form-group class="form-group form-group-default">
		 
		        <label>Primer Apellido:</label>   
		        <input name="last_name" ng-model="editPeople.last_name" class="form-control"  placeholder="Primer apellido del paciente" required/>

		    </div>


		    <!-- Validating patient firstName -->
                <div ng-show="peopleForm.last_name.$touched">

                    <!-- required -->
                    <p ng-show="peopleForm.last_name.$error.required" class="text-danger">
                        Debe asignar un primer apellido para el nuevo usuario.
                    </p>  

                </div>  

		    <!-- secondLastName -->
		    <div pg-form-group class="form-group form-group-default">
		 
		        <label>Segundo Apellido:</label>   
		        <input name="last_name_two" ng-model="editPeople.last_name_two" class="form-control"  placeholder="Segundo apellido del paciente" required/>

		    </div>

		     <!-- Validating patient firstName -->
                <div ng-show="peopleForm.last_name_two.$touched">

                    <!-- required -->
                    <p ng-show="peopleForm.last_name_two.$error.required" class="text-danger">
                        Debe asignar un segundo apellido para el nuevo usuario.
                    </p>  

                </div>  

		    <!-- documentType -->
		    <div pg-form-group class="form-group form-group-default">
		 
		        <label>Tipo Documento:</label>   
			   	<select class="cs-select cs-skin-slide form-control" ng-model="editPeople.document_types_id" name = 'document_types_id' ng-options="documentTypes.id as documentTypes.type for documentTypes in documentTypes">
			    </select><br>

		    </div>

		     <!-- Validating patient firstName -->
                <div ng-show="peopleForm.document_types_id.$touched">

                    <!-- required -->
                    <p ng-show="peopleForm.document_types_id.$error.required" class="text-danger">
                        Debe asignar un tipo de documento para el nuevo usuario.
                    </p>  

                </div>  

		    <!-- identification -->
		    <div pg-form-group class="form-group form-group-default">
		 
		        <label>Identificación:</label>   
		        <input name="identification" ng-model="editPeople.identification" type='text' class="form-control"  placeholder="Identificación del nuevo paciente" required/>

		    </div>

		    <!-- Validating patient identification -->
                <div ng-show="peopleForm.identification.$touched">

                    <!-- required -->
                    <p ng-show="peopleForm.identification.$error.required" class="text-danger">
                        Debe asignar un tipo de identificación para el nuevo usuario.
                    </p> 


                     <!-- unique -->
						<p class="text-danger">
						   {{uniqueIdentification}}
						</p>  

                </div> 

				<div pg-form-group class="form-group form-group-default">
					<label>Fecha Nacimiento:</label>
						<div class="input-group date col-sm-8" ui-jq="datepicker" ui-options="{format:'yyyy/mm/dd'}">
						<input name="birthdate" ng-model="editPeople.birthdate" type='text' class="form-control"  placeholder="Cumpleaños del paciente" required/><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					</div>
				</div>

		    <!-- Validating patient birthdate -->
                <div ng-show="peopleForm.birthdate.$touched">

                    <!-- required -->
                    <p ng-show="peopleForm.birthdate.$error.required" class="text-danger">
                        Debe asignar una fecha de nacimiento.
                    </p>  

                </div> 

		    <!-- genre -->
		    <div pg-form-group class="form-group form-group-default">
		        <label>Genero:</label>   
		        <select class="form-control" ng-options="item as item.name for item in gender track by item.code" ng-model="selectGender" ></select>
		    </div>

		    <!-- address -->
		    <div pg-form-group class="form-group form-group-default">
		 
		        <label>Dirección:</label>   
		        <input name="address" ng-model="editPeople.address" class="form-control"  placeholder="Dirección del paciente" required/>

		    </div>


		    <!-- Validating patient address -->
                <div ng-show="peopleForm.address.$touched">

                    <!-- required -->
                    <p ng-show="peopleForm.address.$error.required" class="text-danger">
                        Debe asignar una dirección para el nuevo usuario.
                    </p>  

                </div> 


		    <!-- phone -->
		    <div pg-form-group class="form-group form-group-default">
		 
		        <label>Teléfono:</label>   
		        <input name="phone" ng-model="editPeople.phone" class="form-control"  type='text' placeholder="Telefono del paciente" required/>

		    </div>

		      <!-- Validating patient phone -->
                <div ng-show="peopleForm.phone.$touched">

                    <!-- required -->
                    <p ng-show="peopleForm.phone.$error.required" class="text-danger">
                        Debe asignar un teléfono para el nuevo usuario.
                    </p>  

                </div> 

		    <!-- email -->
		    <div pg-form-group class="form-group form-group-default">
		 
		        <label>E-mail:</label>   
		        <input name="email" ng-model="editPeople.email" class="form-control"  placeholder="E-mail del paciente" required/>

		    </div>

		      <!-- Validating patient email -->
                <div ng-show="peopleForm.email.$touched">

                    <!-- required -->
                    <p ng-show="peopleForm.email.$error.required" class="text-danger">
                        Debe asignar un E-Mail para el nuevo usuario.
                    </p> 

                <!-- unique -->
				<p class="text-danger">
				   {{uniqueEmail}}
				</p> 

                </div> 
 			


		    <!-- user -->
		   <!--  <div pg-form-group class="form-group form-group-default">
		 
		        <label>Usuario:</label>   
		        <input name="username" 		ng-model="newUser.username" class="form-control"  placeholder="Usuario del paciente" required/>
		    </div>
 -->


		    <!-- Validating patient user -->
                <!-- <div ng-show="peopleForm.username.$touched"> -->

                    <!-- required -->
                   <!--  <p ng-show="peopleForm.username.$error.required" class="text-danger">
                        Debe asignar un nombre usuario.
                    </p>   -->

                <!-- </div>  -->

		    <!-- role -->
		    <!-- <div pg-form-group class="form-group form-group-default">
		        <label>Roles:</label>   
			    <select class="cs-select cs-skin-slide" ng-model="newUser.roles_id" name = 'roles_id' ng-options="role.id as role.name for role in roles">
			    </select>
			    <br>
		    </div> -->
    

		    <button type="button" class="btn btn-info btn-block"  ng-disabled="peopleForm.$invalid"  ng-click="editPeoples()">
		        <i class="fa fa-save"></i> Guardar
		    </button>
		    <br><br>
		                            
		</form>
	</div>
	<div class="col-sm-3"></div>
</div>

	